{% extends 'menu.html' %}
{% block content %}

<div class="d-flex justify-content-center dashboard-content px-3 pt-4  text-center"></div>
  <div class="container-fluid">
  <div class="col-12">
    <h1 class="text-center">Statistics</h1>
  </div>
    
        <canvas id="views"></canvas>
        <br>
        <canvas id="upvote"></canvas>
        <br>
        <canvas id="downvote"></canvas>
    </div>
</div>


<script>
    //graph views
    const labels=[];
    const view=[];
    const upvote=[];
    const downvote=[];
    {% for item in views %}
    labels.push('{{item.name}}');
    view.push({{item.views}});
    upvote.push({{item.upvote}});
    downvote.push({{item.downvote}});
    {% endfor %}  
    new Chart(document.getElementById("views"), {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: "Views for every Song",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: view
          }
        ]
      },
      options: {
        legend: { display: false },
        responsive: true,
        plugins: {
          legend: {
            position: 'right',
          },
          title: {
            display: true,
            text: 'Views'
          }
        }
      }
  });
  //graph upvote
  new Chart(document.getElementById("upvote"), {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [
        {
          label: "Like for every Song",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: upvote
        }
      ]
    },
      options: {
        indexAxis: 'y',
        elements: {
          bar: {
            borderWidth: 2,
          }
        },
        responsive: true,
        plugins: {
          legend: {
            position: 'right',
          },
          title: {
            display: true,
            text: 'Like'
          }
        }
      }
});

  //graph downvote
  new Chart(document.getElementById("downvote"), {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [
        {
          label: "Dislike for every Song",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: downvote
        }
      ]
    },
      options: {
        indexAxis: 'y',
        elements: {
          bar: {
            borderWidth: 2,
          }
        },
        responsive: true,
        plugins: {
          legend: {
            position: 'right',
          },
          title: {
            display: true,
            text: 'Dislike'
          }
        }
      }
});
  </script>

{% endblock %}