Codice/__pycache__
Codice/auth/__pycache__
Utility/DumpDB/LocalLastPineappleMusic
Codice/artist/__pycache__
Codice/user/__pycache__
Codice/music/__pycache__
Codice/error/__pycache__
Codice/user/__pycache__
Debug/__pycache__/models.cpython-310.pyc
