{% extends "base.html" %}
{% block pagebody %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static',filename='img/pineapplemusic.ico') }}" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="">User Profile</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="">Name</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="">Add Blog Post</a>
          </li>
  
           <li class="nav-item">
            <a class="nav-link" href="{{url_for(auth.signout)}}">Signout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<h1>ciao mondo!</h1>
{% endblock %}