
{% extends "base.html" %}
{% block pagebody %}


<div class="container-fluid" id="particles-js">
    <div class="row">
      <div class="col-md-12">
        <div class="card test" style="width: 18rem;">
          <img class="mb-4" src="/static/img/pineapplemusic.ico" alt="logo" width="72" height="100">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-success" onclick="location.href = '/auth/signin';">Login</button>
          </div>
        </div>
      </div>
    </div>    
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1896" height="42"></canvas>

</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}
