{% extends 'menu.html' %}
{% block css %}
<script defer type="text/javascript" src="{{ url_for('music.static', filename='js/music.js')}}"></script>
{% endblock %}
{% block content %}

<div class="container-fluid song-list">

    <div class="col-12">
        <h1 class="text-center">{{page_name}}</h1>
    </div>

    <audio id="playerhidden" controls autoplay hidden>
        <source type="audio/mpeg">
    </audio>

    <div class="col-12 table-responsive">
        <table id="example" class="table table-striped" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Cover</th>
                    <th>Cover Link</th>
                    <th>Artist</th>
                    <th>Name</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Content Link</th>
                    {% if add_to_playlist%}
                    <th>Add to Playlist</th>
                    {% endif %}
                    {% if delete_from_playlist%}
                    <th>Delete from playlist</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in listsong %}
                <tr class="table-light">
                    <td><img src="https://drive.google.com/uc?export=view&id={{item[0].cover}}" height="50" width="50"></td>
                    <td>{{item[0].cover}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item[0].name}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.genre}}</td>
                    <td>{{item[0].content}}</td>
                    {% if add_to_playlist%}
                    <td>
                        <form method="POST" action="{{ url_for('music.search') }}">
                            {{ form.csrf_token }}
                            {{ form.songid(value=item.idsong)}}
                            {{ form.playlist(class="selectpicker",multiple=True,**{"data-live-search":"true","title":"List of your playlist"})}}
                            {{ form.submit(class="btn btn-success")}}
                        </form>
                    </td>
                    {% endif %}
                    {% if delete_from_playlist%}
                    <form method="POST" action="{{ url_for('music.getsongfromplaylist') }}">
                        {{ delete_form.csrf_token }}
                        {{ delete_form.idsong(value=item.idsong)}}
                        {{ delete_form.playlistid(value=playlistid)}}
                    <td>{{ delete_form.submit(class="btn btn-danger")}}</td>
                    </form>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


<div class="music-player col-10">
    <div class="song-bar" n>
        <div class="song-infos">
            <div class="image-container">
                <img id="coverplayer" src="{{ url_for('static', filename='img/pineapplemusic.ico')}}" alt="cover" />
            </div>
            <div class="song-description">
                <p class="title" id="title-song">

                </p>
                <p class="artist" id="artist-song">Artist Name</p>
            </div>
        </div>

    </div>
    <div class="progress-controller">
        <div class="control-buttons">
            <i class="fas fa-step-backward"></i>
            <i class="play-pause fas fa-play" id="playpause"></i>
            <i class="fas fa-step-forward"></i>
            <i class="fas fa-undo-alt" id="repeatsong"></i>
        </div>
        <div class="progress-container">
            <span id="time-att">0:00</span>
            <div class="progress-bar" id="progress-bar-song">
                <div class="progress " id="time-bar" style="width: 0%;" ></div>
            </div>
            <span id="time-dur">3:15</span>
        </div>
    </div>
    
    <div class="other-features">

        <div class="volume-bar">
            <i class="fas fa-volume-down" id="icon-volume"></i>
            <div class="progress-bar" id="progress-bar-vol" >
                <div class="progress" id="progress-bar-vol-contr" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>










{% endblock %}