<html>
    <body bgcolor="#000000">
        <br/>
            <center style="color:#FFFFFF">
                <h1>403 Error</h1>
                <p>Access Denied</p>

                    <p>You don't have access to this page</p>
                
                <h1>
                　 　ﾟ　　　.　　. 　。　　　　•　 　ﾟ　　。 　　.<br/>
                　　　.　　　 　　.　　　　　。　　 。　. 　.　　<br/>
                。　 ඞ 。　 . • . {{user.username}} was an Impostor. . . 　 。<br/>
                　. 　 　　。　　　　　　ﾟ　　　.　　　　　.• <br/>
                　　　　.　 .　　 .　　　•.　　　　　。　　 <br/>
                </h1>

            </center>
    </body>
</html>