<html>

<head>

    <title>{{title}} - PinappleMusic</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/pineapplemusic.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script defer type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/popper.js')}}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script src="https://kit.fontawesome.com/1dc8a471ce.js" crossorigin="anonymous"></script>

    {% block css %}{% endblock %}

</head>

<body>
    {% block pagebody %}{% endblock %}
</body>

</html>