{% extends "base.html" %}

{% block pagebody %}
<!--Codice da modificare-->
<div class="container pb-5 view-1">
    <div class="row mt-3 mb-3 text-center">
        <h1>Modulo di iscrizione</h1>
    </div>
    <div class="row">
        <div id="form">
            <div class="row mb-3">
                <div class="col-xl-6 col-12">
                    <label class="form-label">Nome squadra</label>
                     <input type="text" class="form-control" id="teamName">     <!--required -->
                </div>
                <div class="col-xl-4 col-7">
                    <label class="form-label">Mail capitano</label>
                    <input type="mail" class="form-control" id="email">        <!--required -->
                </div>
                <div class="col-xl-2 col-5">
                    <label class="form-label">N° partecipanti</label>
                    <select class="form-select" id="playersNo" aria-label="Default select example">
                        <option selected value="0">seleziona</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
            <div class="pt-3" id="players">
                <!-- Giocatori -->
            </div>
            <div class="mb-3 border-top pt-3">
                <div class="row">
                    <h3>Pagamento</h3>
                    <div class="col-xl-10 col-6">
                        <p>Il pagamento deve essere effettuato tramite bonifico all'IBAN <b>ITxxxxxxxxxxxx</b> come
                            oggetto
                            inserire il nome della squadra. <br /> L'iscrizione sarà comlpletata solo a pagamento
                            effettuato
                        </p>
                    </div>
                    <div class="col-xl-2 col-12">
                        <label class="form-label"><strong>Totale iscrizione:</strong></label>
                        <p style="text-align: center;" id="prezzo"></p>
                    </div>
                </div>
            </div>
            <div class="mb-3 border-top pt-3">
                <h3>Info</h3>
                <p>Per maggiori informazioni consultare il <a href="#" class="link-success">REGOLAMENTO</a></p>
                <div class="mb-3">
                    <label class="form-label">Note/domande</label>
                    <textarea class="form-control" rows="3" id="info"></textarea>
                </div>
            </div>
            <div class="text-center mt-5">
                <button onclick="sendData();" style="width: 220px;" class="btn btn-success">INVIA RICHIESTA</button>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5 view-2 d-none">
    <div class="row mt-5 mb-3 d-flex justify-content-center">
        <div class="mt-5 spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="container pb-5 view-3 d-none">
    <div class="row mt-3 mb-3 text-center">
        <h1>OK</h1>
    </div>
</div>
<!--Codice da modificare-->
{% endblock %}
