{% extends 'menu.html' %}
{% block js %}
  <script type="text/javascript" src="{{ url_for('user.static', filename='js/script.js')}}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 class="text-center">Home</h1>
    {% for item in genres %}
      <div class="col-lg-3 col-6">
        <div class="card card-music text-white bg-success mb-3" type="submit" style="max-width: 18rem;">
          <form method="POST" action="{{ url_for('music.getsongfromgenre') }}">
            {{ form_genre.csrf_token }}
            {{ form_genre.genre(value=item.name)}}
            <div class="img card-img-top"
              style="background-image: url(https://drive.google.com/uc?export=view&id={{item.cover}})"></div>
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">{{item.name}}</h5>
            </div>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<br>
<br>

<h2 style="text-align: center">TOP 10 VIEWS</h2>
<div class="container-fluid song-list">

  <div class="col-12 table-responsive">
    <form id="formtest1" method="POST" action="{{ url_for('music.getsongfromhome') }}">
      {{ form_redirect.csrf_token }}
    <table id="test1" class="table table-striped" style="width:100%">
      <thead class="table-dark">
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Album</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        {% for item in songview %}
          <tr class="table-light">
            <td><img src="https://drive.google.com/uc?export=view&id={{item.cover}}" height="50" width="50"></td>
            <td>{{item.name}}</td>
            <td>{{item.artist}}</td>
            <td>{{item.genre}}</td>
            <td>{{item.album}}</td>
            <td>{{item.views}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ form_redirect.choice(class="form-control",value="views")}}
  </form>
  </div>
</div>

<h2 style="text-align: center">TOP 10 LIKES</h2>
<div class="container-fluid song-list">

  <div class="col-12 table-responsive">
    <form id="formtest2" method="POST" action="{{ url_for('music.getsongfromhome') }}">
      {{ form_redirect.csrf_token }}
    <table id="test2" class="table table-striped" style="width:100%">
      <thead class="table-dark">
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Album</th>
          <th>Likes</th>
        </tr>
      </thead>
      <tbody>
        {% for item in songlike %}
          <tr class="table-light">
            <td><img src="https://drive.google.com/uc?export=view&id={{item.cover}}" height="50" width="50"></td>
            <td>{{item.name}}</td>
            <td>{{item.artist}}</td>
            <td>{{item.genre}}</td>
            <td>{{item.album}}</td>
            <td>{{item.likes}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ form_redirect.choice(class="form-control",value="likes")}}
  </form>
  </div>
</div>

<h2 style="text-align: center">YOUR SUGGESTION</h2>
<div class="container-fluid song-list">
  <div class="col-12 table-responsive">
    <form id="formtest3" method="POST" action="{{ url_for('music.getsongfromhome') }}">
      {{ form_redirect.csrf_token }}
    <table id="test3" class="table table-striped" style="width:100%">
      <thead class="table-dark">
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        {% for item in songsuggestion %}
          <tr class="table-light">
            <td><img src="https://drive.google.com/uc?export=view&id={{item.cover}}" height="50" width="50"></td>
            <td>{{item.name}}</td>
            <td>{{item.artist}}</td>
            <td>{{item.genre}}</td>
            <td>{{item.album}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ form_redirect.choice(class="form-control",value="suggestions")}}
  </form>
  </div>
</div>




{% endblock %}