{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('user.static',filename='css/test.css') }}">
<script defer type="text/javascript" src="{{ url_for('user.static', filename='js/script.js')}}"></script>

<script src="https://kit.fontawesome.com/1dc8a471ce.js" crossorigin="anonymous"></script>

{% endblock %}
{% block pagebody %}



<div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
        <div class="head-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h1 class="fs-4">
                <!--<span class="bg-white tex-dark rounded shadow px-2 me-2"> -->
                <img class="mb-4" src="{{ url_for('static',filename='img/pineapplemusic.ico') }}" alt="logo" width="36"
                    height="50">
                <!--</span> -->
                <span class="text-white">PineappleMusic</span>
            </h1>
            <button class="btn d-mb-none d-block close-btn px-1 py-0 text-white d-md-none d-block">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
        </div>
        <ul class="list-unstyled px-2">
            <li class=""><a href="{{url_for('user.home')}}" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-house"></i>Home</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-music"></i>Songs</a></li>


            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-list-ol"></i>Playlist</a></li>
            <li class=""><a href="{{url_for('user.profile')}}" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-user"></i>Profile</a></li>


        </ul>
        <hr class="h-color mx-2">
        <div class=" d-block " style=" position: absolute; bottom: 0; left: 3px; width: 100%;">

            <li class=""><a href="{{url_for('auth.signout')}}" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-right-from-bracket"></i>{{user.username}}</a></li>


        </div>


    </div>
    <div class="content">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between d-md-none d-block">
                    <a class="navbar-brand fs-4" href="#">Pineapple Music</a>
                    <button class="btn px-1 py-0 open-btn"><i class="fa-solid fa-bars-staggered"></i></button>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>
                        <!--
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    -->
                </div>
            </div>
        </nav>

        <div class="dashboard-content px-3 pt-4">
            <h2 class="fs-5">
                Dashboard
            </h2>
            <p>
                When an error occurs, or exception as we call it, Python will normally stop and generate an error
                message.
                These exceptions can be handled using the try statement:
            </p>
        </div>

    </div>
</div>





{% endblock %}
